.star {
  cursor: pointer;
}

@mixin hover($class,$color){

    &:hover {
      fill:$color;
    }

}

.bf {
  &:hover {
    fill: black;
  }
 
}

.moon {
  &:hover {
    fill: purple;
  }
}

.delete{
  &:hover {
    .inside{
    fill: black;
    }
  }
}