.profile-container{
    position: relative;
    width:100%;
    height:100%;
    &-img{
        position:relative;
        z-index: 1;
        width:100%;
        height: 100%;
        // object-fit: cover;
    }
    &-hello{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        z-index:10;
    }
    &-filter{
        position: absolute;
        z-index:5;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background-color: #0000004b;
    }
}


.layout{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #F5F8FF;
}
.image-container{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 36px 48px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    text-align: center;

    p {
        margin-top: -10px;
        color: #777;
    }
}

.box-upload{
    display: grid;
    margin-top: 20px;
    place-items: center;
    border: 1px dashed #799CD9;
    /* padding: 36px 48px; */
    position: relative;

    height: 350px;
    width: 350px;

    background: #FBFBFF;
    border-radius: 20px;

    .image-upload {
        display: flex;
        flex-wrap:wrap;

        label {
            cursor: pointer;
        
            :hover {
                opacity: .8;
            }
        }

        >input {
            display: none;
        }
    }
}

.image-preview{
    position: relative;
    /* cursor: pointer; */

    #uploaded-image{
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 20px;
    }

    .close-icon{
        border-radius: 5px;
        opacity: .8;
        position: absolute;
        z-index: 10;
        right: 15px;
        top: 20px;
        cursor: pointer;

        :hover {
            opacity: 1;
        }   
    }
}
.close-btn{
    border-radius: 5px;
    opacity: .6;
    cursor: pointer;
    :hover {
        opacity: 1;
    }   
}
