%datepicker {
    width:300px;
    display: flex;
    justify-content: center;
  }

.datepicker-true{
   span{
       input{
           color:white !important;
       }
       span{
           color:white !important;
       }
   }
    @extend %datepicker;
   
}
.datepicker-false{
    @extend %datepicker;

}