@use "src/assets/styles/_index.scss" as *;

.list-container {
  margin-bottom: 10px;
}
.form-container {
  @include flexbox(column, center, center);
}
.form-item {
  width: calc(100% - 30px);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.categories-container {
  @include flexbox(column, center, center);
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.style {
  @include flexbox(row, center, center);
  min-width: 60px;
  width: 100%;
  max-width: 300px;
  height: 20px;
  margin: 5px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: $light-shadow;
  font-weight: bold;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.link-li {
  @include flexbox(row, center, center);
  width: 100%;

}
.light-link {
  @include flexbox(row, center, center);
  color: $light-link;
  text-decoration: none;
  width: 100%;

}
.dark-link {
  @include flexbox(row, center, center);
  color: $dark-link;
  text-decoration: none;
  width: 100%;
}
p {
  margin-top: 10px;
  margin-bottom: 15px;
}

.asia-img {
  width: 60px;
  height: 40px;
}
.southamerica-img {
  width: 40px;
  height: 60px;
}
.user-container {
  margin-left: 15px;
  margin-top: 15px;
  @include flexbox(row, center, center);
}
.user-text {
  margin-left: 10px;
}
