@import url("https://cdn.syncfusion.com/ej2/material.css");

.App {
  text-align: center;
  min-height: 100vh;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


footer{
  height: fit-content;
}
